*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
.idea/
/project/plugins/project

target/
/logs
.cache
.classpath
.project
.settings



.bloop/
.metals/
.vscode/settings.json
project/project/
project/